# Ignore node_modules & Angular build files
frontend/todo-app/node_modules/
frontend/todo-app/dist/
frontend/todo-app/.angular/

# Ignore Java build files
backend/todo-application/target/
backend/todo-application/.mvn/
backend/.idea/

# Ignore environment variables
*.env

# Ignore Docker build files
**/docker-compose.override.yml
